@font-face {
    font-family: 'Merriweather';
    src: url('/Assets/font/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

/* Reset global */
html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img{
    
}



/* Suppression des styles par défaut */

img, picture, video, canvas, svg {
    max-width: 100%;
}

/* Styles globaux */

:root {
    --couleur-principale : #F7F6F2;
    --couleur-bouton-action : #F7B186;
    --couleur-bouton-selection : #B5EAD7;
}

body {
    background-color: var(--couleur-principale);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, nav, a {
    font-family: 'Merriweather', serif;
}

/* Header */
header div {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    height: 200px;
}

header div nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header div nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 80px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header div nav a:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.orange {
    background-color: #F7F6F2;
    color: #000;
    border-color: #F7B186;
}

.orange:hover {
    background-color: #F7B186;
}

#Iconehead {
    display: flex; 
    align-items: center; 
    gap: 25px; 
    text-decoration: none; 
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
}


/* MAIN */

main section {

    margin: 150px 0px 0px 60px;
    text-align: center;
}


main section ul {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;

}

main .introutils ul li {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 80px;
    list-style: none;

}

main section ul li img {
    color: #333;
    font-weight: bold;
    border: 2px solid #B5EAD7;
    border-radius: 100%;
    padding: 15px;
    height: 150px;
}

main section ul li p {
    padding: 30px 0px 30px 0px;
}

a.button {
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    border-radius: 25px;
    background-color:#F7B186;
    padding: 10px;
    margin: 20px;
}

                                                 /* Main page IMC */

/* Formulaire principal */
form {
    background-color: #F7F6F2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 70%;
}

form fieldset {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

/* Titre du formulaire */
.form a {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 40px;
}


/* choix genre personne */

.groupe-sexe {
    display: flex;
    margin: 30px;
}

.groupe-sexe :focus {

}

.fieldset-label{
    border: 2px solid #333;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

button#homme, button#femme {
    margin: auto;
    background-color: #F7F6F2;
    border: 3px solid #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 30%;
}

button#homme:hover, button#femme:hover {
    background-color: #B5EAD7;
}

button#homme:focus, button#femme:focus {
    background-color: #B5EAD7;
}




/* Labels */
form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

/* Input généraux */
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}




/* Bouton de soumission */
form button {
    background-color: #F7B186;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%;
    
}



                                                                        /* Footer */

footer {
    border-top: 2px solid #333;
    margin-top: 500px;
    padding: 60px 0px 0px 0px ;
    text-align: center;
    font-size: 12px;
}

footer div {
    display: flex;
    align-items: center;
}

footer div nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 80px;
    transition: all 0.3s ease;
}

footer div .logo {
    height: 150px;
    margin-right: auto;
}


footer div nav {
    display: flex;
    flex-direction: column;
}

footer nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer nav a:hover {
    background-color: #000;
    color: #fff;
}

a.Mention {
    margin: 30px 0px 10px 0px;
    text-align: center;
    display: block;
}

footer div .reseau {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.reseau img {
    height: 40px;
    width: 40px;
    margin: 5px;
}


